#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0px;
  width: 100% !important;
}

body {
  background: #012;
  color: #fff;
}
.ui.menu.fixed {
    width: 100% !important;
    height: 5% !important;
}
